.avg-rating-div {
    display: flex;
    margin: 0 0 5px 10px;
}

.stars-outer {
  position: relative;
  display: inline-block;
  color: #ccc;
  margin-right: 5px;


}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #186b6d;
  /* margin-right: 10px; */
}

.review-count {
    /* margin: 10px;
    justify-self: flex-start; */
}


