
.greeting-nav {
    width: 1375px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-group {
    display: flex;
    align-items: center;
}

.nav-button {
    border: none;
    font-family: Arial, sans-serif;
    background-color: white;
}

.login-signup button i {
    font-size: 24px;
    margin: 10px;
}

.login-signup button {
    font-size: 20px;
}

.login-signup button:hover {
    cursor: pointer;
}

.header-button i {
    font-size: 24px;
    margin: 10px;
    background-color: white;
}

.header-group button:hover {
    cursor: pointer;
}

.header-button {
    font-size: 20px;
    border: none;
    font-family: Arial, sans-serif;
    background-color: white;
}

.header-name {
    font-size: 20px;
}

.greeting-div {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
}
