.review-div {
    margin-bottom: 15px;
}

.review-header {
    font-size: 24px;
    font-weight: bold;
}

.review-index-div {
    margin-left: 1%;
}

.star-title-cont {
    font-size: 14px;
    display: flex;
    margin-top: 1%;
    margin-bottom: .5%;

}

.star-icon-div {
    margin-right: 5px;
    margin-bottom: .5%;
}

.curr-star-rating > #checked {
    color: #186b6d;

}

.username-date-cont {
    font-size: 11px;
    display: flex;
}

.review-user {
    font-style: italic;
    margin-left: 5px;
}

.body-cont {
    font-size: 16px;
    font-weight: normal;
    margin-top: .5%;
}

