.review-div {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    /* z-index: -1; */
}

.review-header {
    font-size: 24px;
    font-weight: bold;
}

.review-header > i {
    float: right;
    color: #186b6d;
}

.review-header > button {
    background-color: white;
    font-size: 14px;
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    padding: 10px;
    border-radius: 12px;
    border-color: #186b6d;
    margin: 0px 0px 0px 10px;
    z-index: 10;
}

.review-index-cont {
    display: block;
}

.review-index-hide {
    display: none;
}

.review-header > button:hover {
    cursor: pointer;
}

.review-index-div {
    margin-left: 1%;
    /* display: none; */
}

#review-arrow {
    cursor: pointer;
}

.star-title-cont {
    font-size: 14px;
    display: flex;
    margin-top: 1%;
    margin-bottom: .5%;

}

.star-icon-div {
    margin-right: 5px;
    margin-bottom: .5%;
}

.curr-star-rating > #checked {
    color: #186b6d;

}

.username-date-cont {
    font-size: 11px;
    display: flex;
}

.review-user {
    font-style: italic;
    margin-left: 5px;
}

.body-cont {
    font-size: 16px;
    font-weight: normal;
    margin-top: .5%;
}


