.splash-div img {
    width: 100%;
}

.logo-link {
    font-family: Arial, sans-serif;
    color: #186d61;
    font-size: 30px;
    font-weight: 650;
    margin: 20px 25px;
    letter-spacing: -0.5px;
}

.icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    /* background-color: lightgrey; */

}

.icon-bar div i {
    text-align: center;
    /* border: 3px solid */
    margin: auto;
    width: 100%;
}