.show-div {
    position: relative;
    width: 1375px;
    margin-left: auto;
    margin-right: auto;

    /* margin-left: 275.5px;
    margin-right: 275.5px; */
    /* margin-right: 430.5px; */
    font-family: "Work Sans", Helvetica, Arial, sans-serif; 
}

.tour-name {
    position: relative;
    font-size: 28px;
    font-family: Raleway, Helvetica, Arial;
    color: #2a2d32;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;

}

.booking-outer-div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
    
}

.booking-div-cont {
    /* margin-left: 20px; */
    background-color: rgba(238, 241, 241, 0.952);
    height: 400px;
    width: 600px;
    margin-left: 10px;
}

.booking-div {
    height: 400px;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;

}

.booked-div {
    color: red;
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid grey;
    padding: 10%;
    width: 80%;
    /* margin-left: 5%; */

}

.booked-avail-div {
    font-family: "Work Sans", Helvetica, Arial, sans-serif; 
    font-size: 24px;
    line-height: 30px;
    border-bottom: 1px solid grey;
    padding: 5px;
    width: 80%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.booked-avail-div > div > span {
    font-weight: 450;
    font-family: "Work Sans", Helvetica, Arial, sans-serif; 
}

.l-p-g {
    font-size: 14px;
    line-height: 21px;
    color: #186b6d;
    padding: 10px 0 10px 0;

}

.booking-calendar {
    padding: 5px;
    margin-top: 10px;
    font-size: 22px;
    width: 100%;
}

.booking-calendar > h3 {
    font-size: 24px;
}

.booking-calendar > div > i {
    color: #186b6d;
    margin-right: 5px;

}

.booking-calendar > button {
    box-sizing: border-box;
    color: white;
    background-color:#186b6d;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    /* margin-top: 10px; */
}

.booking-calendar > button:hover {
    cursor: pointer;
}

.booking-calendar > input[type-date] {
    border: 2px solid #ccc;

}

.date-cont {
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.date-cont > input[type=date] {
    margin-left: 8px;
}

.travelor-cont {
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.booked-res {
    margin-top: 25px;
    font-size: 16px;
    font-family: "Work Sans", Helvetica, Arial, sans-serif; 
    margin-bottom: 25px;
    font-weight: bold;
}

.reservation-dets {
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-family: "Work Sans", Helvetica, Arial, sans-serif; 

}

.reservation-dets > h2 {
    font-weight: bold;
    margin-bottom: 5px;
}

.reservation-dets > h3 {
    margin-bottom: 15px;
    font-size: 14px;
}


.ttl-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    /* margin-left: 275.5px;
    margin-right: 275.5px; */
    border-top: .5px, solid black;
    border-bottom: .5px, solid black;
    color: #55575b;

}

.ttl-bar i {
    color: #186b6d;
}

.overview-div {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid rgb(226, 224, 224);
    border-top: 1px solid rgb(226, 224, 224);
}

.overview-title {
    font-size: 24px; 
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;

}

.overview-par {
    font-size: 16px; 
    margin: 2%;

}

.included-div {
    position: relative;
    border-bottom: 1px solid rgb(226, 224, 224);

}

.included-title > i {
    float: right;
    color: #186b6d;
}


.included-title {
    font-size: 24px; 
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    cursor: pointer;

}

.included-container {
    
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    /* min-height: 100px; */
}

/* .included-title:hover .included-yes {
    display: block;
} */

.included-yes {
    font-size: 16px;
    display: none; 
}

.included-yes-show {
    display: block; 
    font-size: 16px;
}

/* .included-title:hover .included-no {
    display: block;
} */

.included-no {
    font-size: 16px; 
    display: none; 

}

.included-no-show {
    font-size: 16px; 
    display: block; 

}


.additional-title {
    font-size: 24px; 
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
}

.additional-info {
    font-size: 16px; 
}

.included-container > div{
    font-weight: normal;
    margin: 2%;
}

.included-yes >  div >  i {
    color: #186b6d;

}

.included-yes-show >  div >  i {
    color: #186b6d;

}

.included-yes >  div >  i {
    color: #186b6d;

}

.included-no >  div >  i {
    color: rgb(235, 22, 22);

}

.included-no-show >  div >  i {
    color: rgb(235, 22, 22);

}

.additional-div {
    position: relative;
    border-bottom: 1px solid rgb(226, 224, 224);

}

.additional-title {
    cursor: pointer;
}

.additional-title > i {
    float: right;
    color: #186b6d;
}


.additional-container {
    display: none;
}

.additional-container-show {
    display: block;
}

.additional-info {
    margin: 2%;
}



.additional-info  i {
    color: #186b6d;
    font-size: 8px;
    margin-bottom: 1%;
}

.photo-main-div {
    display: flex;
    /* justify-content: space-between; */
    height: 100%;
    width: 900px;
    /* flex-direction: row; */
    /* width: 80% */
}

.photo-thumbnail {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-left: 1%;

}

.photo-thumbnail > img {
    width: 120px;
    height: 79px;
    margin-bottom: 1%;
}

.large-pic {
    /* width: 600px;
    height: 600px; */
    /* flex-grow: 2;
    flex-basis: 70%;
    align-self: stretch; */
    /* flex: 2 1 0; */
    /* max-width: 600px;
    max-height: 600px; */
    /* max-width: 100%; */
    /* max-width: 700px; */
    /* max-height: 504px; */
    /* max-height: 100%; */
    height: 100%;
    width: 100%;

}

.large-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    background-color: rgba(238, 241, 241, 0.952);
}

.not-selected-photo {
    opacity: 50%;
}

.show {
    display: block; 
}